@model Asm_PH26327.Models.Product

@{
    ViewData["Title"] = "Detailssp";
}

<h1>Detailssp</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SizeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SizeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NsxId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NsxId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ColorId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ColorId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nsx)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nsx)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Size)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Size)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.availabelQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.availabelQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Supplier)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Supplier)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descreption)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descreption)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hinhanh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hinhanh)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
