@model IEnumerable<Asm_PH26327.Models.Product>

@{
    ViewData["Title"] = "QlSP";
<<<<<<< HEAD
    Asm_PH26327.Models.ShopDbContext context = new Asm_PH26327.Models.ShopDbContext();
    List<string> imageExtensions = new List<string>()
    {
        ".jpg", ".png", ".webp", ".gif", ".pdf", ".tiff", ".jpeg"
    };
=======
>>>>>>> a80c7644f75ede78d6f33356cfae309531897b0a
}

<h1>QlSP</h1>

<p>
<<<<<<< HEAD
    <a asp-action="Createsp">
        <button type="button" class="btn btn-info">
            <i class="bi bi-pencil-square"> Thêm</i>
        </button>
    </a>

    <button class="btn btn-info"><a asp-action="CreatNsx">Create Nxs</a></button>

    <button class="btn btn-info"><a asp-action="CreateCol">Create Color</a></button>

    <button class="btn btn-info"><a asp-action="Sizes">Create size</a></button>


=======
    <a asp-action="Createsp">Create New</a>
>>>>>>> a80c7644f75ede78d6f33356cfae309531897b0a
</p>
<table class="table">
    <thead>
        <tr>
           @* <th>
                @Html.DisplayNameFor(model => model.id)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
<<<<<<< HEAD
@*            <th>
=======
            @*<th>
>>>>>>> a80c7644f75ede78d6f33356cfae309531897b0a
                @Html.DisplayNameFor(model => model.SizeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NsxId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ColorId)
            </th>*@
            <th>
<<<<<<< HEAD
                @Html.DisplayNameFor(model => model.Size)
=======
                @Html.DisplayNameFor(model => model.Color)
>>>>>>> a80c7644f75ede78d6f33356cfae309531897b0a
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nsx)
            </th>
            <th>
<<<<<<< HEAD
                @Html.DisplayNameFor(model => model.Color)
=======
                @Html.DisplayNameFor(model => model.Size)
>>>>>>> a80c7644f75ede78d6f33356cfae309531897b0a
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                
                @Html.DisplayNameFor(model => model.availabelQuantity)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Supplier)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descreption)
            </th>
            <th>
<<<<<<< HEAD
                @Html.DisplayNameFor(model => model.Hinhanh)
=======
                @*@Html.DisplayNameFor(model => model.Hinhanh)*@
>>>>>>> a80c7644f75ede78d6f33356cfae309531897b0a
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @*@if (@item.availabelQuantity > 5)
            {*@
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
<<<<<<< HEAD
                    @{
                        Asm_PH26327.Models.Size size = context.Sizes.Find(item.SizeId);
                        if (size != null)
                        {
                            <span>@size.SizeName</span>
                        }
                        else
                        {
                            <span>Unknown</span>
                        }
                    }
                </td>
                    <td>
                    @{
                        Asm_PH26327.Models.Nsx nsxs = context.Nsxes.Find(item.NsxId);
                        if (nsxs != null)
                        {
                            <span>@nsxs.Name</span>
                        }
                        else
                        {
                            <span>Unknown</span>
                        }
                    }
                </td>
                    <td>
                    @{
                        Asm_PH26327.Models.Color col = context.Colors.Find(item.ColorId);
                        if (col != null)
                        {
                            <span>@col.Name</span>
                        }
                        else
                        {
                            <span>Unknown</span>
                        }
                    }
                   
                </td>
    @*            <td>
=======
>>>>>>> a80c7644f75ede78d6f33356cfae309531897b0a
                        @Html.DisplayFor(modelItem => item.Color)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nsx)
                    </td>
<<<<<<< HEAD
                <td>
                    @Html.DisplayFor(modelItem => item.Size)
                </td>*@
=======
                    <td>
                        @Html.DisplayFor(modelItem => item.Size)
                    </td>
>>>>>>> a80c7644f75ede78d6f33356cfae309531897b0a
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.availabelQuantity)
                    </td>
<<<<<<< HEAD
 
=======
                    @*<td>
                        @Html.DisplayFor(modelItem => item.status)
                    </td>*@
>>>>>>> a80c7644f75ede78d6f33356cfae309531897b0a
                    <td>
                        @Html.DisplayFor(modelItem => item.Supplier)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descreption)
                    </td>
                    <td>
<<<<<<< HEAD
                    @{
                        var extension = System.IO.Path.GetExtension(item.Hinhanh);
                    }
                    @if (imageExtensions.Contains(extension))
                    {
                        <img src="~/images/@item.Hinhanh" height="80px" width="80px">
                    }
                    else
                    {
                        <img src="~/images/default.png" height="80px" width="80px">
                    }
                    </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.Status)*@
                    @if (item.status == 0)
                    {
                        <span>Còn Hàng</span>
                    }
                    else
                    {
                        <span>Hết Hàng</span>
                    }
                </td>
 
                    <td>

                    <button type="submit" class="btn btn btn-info">  @Html.ActionLink("Sửa", "Editsp", new { id=item.id })</button>
                    <button type="submit" class="btn btn btn-info">@Html.ActionLink("Chi Tiết", "Detailssp", new { id=item.id }) </button>
                    <button type="submit" class="btn btn btn-info">   @Html.ActionLink("Xóa", "Deletesp", new { id=item.id })</button>
@*                    <button type="submit" class="btn btn btn-info">   @Html.ActionLink("Mua hàng", "AddtoCart", new { id=item.id })</button>
*@
                    </td>
                <td>
                    <form method="post" action="@Url.Action("CallBack", "Home")">
                        <input type="hidden" name="id" value="@item.id">
                        <button type="submit"  class="btn btn btn-info" name="action" value="CallBack">CallLast</button>
                    </form>
                </td>
                </tr>           
        }

=======
@*                        @Html.DisplayFor(modelItem => item.Hinhanh)
*@                    </td>
                    <td>
                        @*@Html.DisplayFor(modelItem => item.Status)*@
                        @if (item.status == 0)
                        {
                            <span>Còn Hàng</span>
                        }
                        else
                        {
                            <span>Hết Hàng</span>
                        }
                    </td>
                    <td>
                        @Html.ActionLink("Sửa", "Editsp", new { id=item.id }) |
                        @Html.ActionLink("Chi Tiết", "Detailssp", new { id=item.id }) |
                        @Html.ActionLink("Xóa", "Deletesp", new { id=item.id })
                    </td>
                </tr>
            @*}*@
           
        }
        
>>>>>>> a80c7644f75ede78d6f33356cfae309531897b0a
    </tbody>
</table>
