@model Asm_PH26327.Models.Nsx

@{
    ViewData["Title"] = "DetailsN";
}

<h1>DetailsN</h1>

<div>
    <h4>Nsx</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NsxId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NsxId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ma)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
